body {
    /*border: 0.01px solid black;*/
    /*background-color: pink;*/
    background: #0A0A0A;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

#audio {
    display: none;
}

.is-active {
    color: #9A9A9A;
    border: 1px solid #9A9A9A;
}

.main {
    display: flex;
    justify-content: flex-end;
}

.menu {
    padding-right: 350px;
}

.menu-control {
    padding-right: 150px;
}

.menu-row {
    margin-top: 15px;
    font-family: 'Courier Prime';
    font-size: 22px;
    text-decoration: underline;
    color: white;
}

.cover {
}

.playlist-block {
    font-family: 'Courier Prime';
    font-size: 14px;
    color: #3D3D3D;
}

.cover-block {
    margin-bottom: 50%;
    max-width: 500px;
    max-height: 500px;
    padding-right: 50px;
}

.track-cover {
    width: 75px;
    height: 75px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
}

/* playlist block */

.playlist-block {
    display: flex;
    flex-direction: column;
}

/* track row */

.track-row{
    display: flex;
    align-items: center;
    border: 1px solid #3D3D3D;
}

.track-row:not(:first-child) {
    padding-top: 15px;
}

.track-info {
    display: flex;
    padding: 1px;
    width: 500px;
    justify-content: space-between;
}

.artist-info-block, .track-info-block, .additional-info {
    padding-left: 5px;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.additional-info {
    padding-right: 5px;
}
