.player-panel {
    max-width: 500px;
    background: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}


.player-button {
    margin: 5px;
    display: flex;
    max-width: 64px;
    background: #61dafb;
}

.before-player-panel {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}



.player-panel-ico-left {
    flex: 1 1 auto;
    transform: scale(0.3);
}
.player-panel-ico-right {
    flex: 1 1 auto;
    transform: scale(-0.3);
}

.player-panel-line {
    width: 100%;
    border: 1px solid black;
}