.debug {
    /*border: 1px solid pink;*/
}

.column-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100px;
    width: 300px;
}

.row-element {
    margin: 5px;
	padding: 5px;
	flex: 0 1 auto;
}

.row-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
}

.cover {
    width: 300px;
}

.centred {
    display: flex;
    align-items: center;
    justify-content: center
}