.track-item {
    background: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 75px;
    border: 1px solid black;
}

.track-item-block {
    flex-grow: 1;
    background: red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
}

.track-item-text-part {
    background: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blured-square {
    width: 45px;
    height: 45px;
    background: black;
}