/* Общий сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier Prime', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Основной контейнер */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    position: relative;
}

/* Левое меню */
.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 0;
    top: 20%;

    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Черная полупрозрачная тень */
    font-size: 24px;
}

.menu-row a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-row a:hover {
    color: #888;
    text-decoration: underline;
}

/* Правое меню управления */
.menu-control {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 30%;
    top: 20%;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Черная полупрозрачная тень */
}

.menu-control a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-control a:hover {
    color: #888;
    text-decoration: underline;
}

/* Блок обложки */
.cover-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

/* Плейлист */
.playlist-block {
    /*overflow: hidden;*/
    scrollbar-width: none;
    width: 500px;
    background-color: #111;
    padding: 15px;
    border-radius: 8px;
    max-height: 80vh;
    margin-left: 20px;
    overflow-y: scroll; /* Прокрутка по вертикали */
    scrollbar-width: none; /* Для Firefox */
}

.playlist-block::-webkit-scrollbar{
    display: none;
}

.track-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.track-row:last-child {
    border-bottom: none;
}

.track-cover-block {
    margin-right: 15px;
}

.track-cover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Информация о треке */
.track-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    color: #fff;
}

.artist-info-block {
    display: flex;
    justify-content: space-between;
}

.artist-title {
    font-weight: bold;
    font-size: 1em;
}

.album-title {
    font-size: 0.9em;
    color: #aaa;
}

.track-info-block {
    margin-top: 5px;
}

.track-name {
    font-size: 0.9em;
    color: #ccc;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

.is-active {
    background-color: #333;
    border-bottom: 0px;
    width: 105%;
    margin-left: -2.5%;
    border-radius: 8px;
    padding: 2.5%;
}

.before-active {
    border-bottom: 0px;
}

/* Стили для аудиоплеера */
#audio {
    display: none; /* скрываем встроенный аудиоплеер */
}
